/*Responsive*/

/*Ukuran max-width 375px*/
@media screen and (max-width: 375px) {

	/*Nav*/

	.container header {
		width: 80%;
		text-align: center;
	}

	.container header h3 {
		font-size: 19px;
	}

	.container header p {
		font-size: 14px;
	}

	.container nav ul li {
		display: none;
	}

	/*Akhir Nav*/

	/*Banner*/
	.banner {
		height: 125px;
	}

	/*Akhir Banner*/

	/*Main*/
	/* Intro */
	main section.intro {
		width: 80%;
	}

	section.intro h3 {
		font-size: 20px;
	}

	section.intro p {
		font-size: 18px;
	}

	/* Akhir intro */

	/* Reason */
	main section.reason {
		width: 80%;
	}

	section.reason h3 {
		font-size: 20px;
	}

	section.reason p {
		font-size: 18px;
	}

	/* Akhir Reason */

	/* Unggul */
	.superior header {
		display: flex;
		flex-direction: column;
		margin: 29px 0;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
	}

	.superior .cards {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		box-sizing: border-box;
	}

	.cards p {
		font-size: 18px;
	}

	.cards h4 {
		font-size: 19px;
	}

	.cards .card1 {
		width: 80%;
		box-shadow: 3px 3px 3px rgba(0, 0, 0, .4);
		margin-bottom: 50px;
	}

	.cards .card2 {
		width: 80%;
		box-shadow: 3px 3px 3px rgba(0, 0, 0, .4);
		margin-bottom: 50px;
	}

	.cards .card3 {
		width: 80%;
		box-shadow: 3px 3px 3px rgba(0, 0, 0, .4);
		margin-bottom: 30px;
	}

	/* Akhir Unggul */

	/* Opinion */
	.opinion {
		box-sizing: border-box;
		width: 100%;
	}

	.opinion .opini {
		padding: 12px;
		box-sizing: border-box;
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.opini .opini1 {
		box-sizing: border-box;
		width: 100%;
		margin-bottom: 50px;
	}

	.opini1 h4 {
		font-size: 18px;
	}

	.opini1 q {
		font-size: 17px;
	}

	.opini .opini2 {
		box-sizing: border-box;
		width: 100%;
	}

	.opini2 .opini-img2 {
		margin-top: 23px;
	}

	.opini2 h4 {
		font-size: 18px;
	}

	.opini2 q {
		font-size: 17px;
	}

	/* Akhir Opinion */

	/*Akhir Main*/

	/*Footer*/
	footer p {
		font-size: 13px;
	}

	/*Akhir Footer*/
}

/*Akhir*/


@media screen and (max-width: 576px) {

	/*Nav*/
	.container header {
		width: 90%;
		text-align: center;
	}

	.container header h3 {
		font-size: 20px;
	}

	.container header p {
		font-size: 15px;
	}

	.container nav ul li {
		display: none;
	}

	/*Akhir Nav*/

	/*Banner*/
	.banner {
		height: 130px;
	}

	/*Akhir Banner*/

	/*Main*/
	/* Intro */
	main section.intro {
		width: 85%;
	}

	section.intro h3 {
		font-size: 21px;
	}

	section.intro p {
		font-size: 19px;
	}

	/* Akhir Intro */

	/* Reason */
	main section.reason {
		width: 85%;
	}

	section.reason h3 {
		font-size: 21px;
	}

	section.reason p {
		font-size: 19px;
	}

	/* Akhir Reason */

	/* Unggul */
	.superior header {
		margin: 33px 0;
	}

	.superior .cards {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		box-sizing: border-box;
	}

	.cards .card1 {
		width: 80%;
		margin-bottom: 50px;
	}

	.cards .card2 {
		width: 80%;
		margin-bottom: 50px;
	}

	.cards .card3 {
		width: 80%;
		margin-bottom: 30px;
	}

	/* Akhir Unggul */

	/* Opinion */
	.opinion {
		box-sizing: border-box;
		width: 100%;
	}

	.opinion .opini {
		box-sizing: border-box;
		width: 80%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.opini .opini1 {
		box-sizing: border-box;
		width: 90%;
		margin-bottom: 50px;
	}

	.opini .opini2 {
		box-sizing: border-box;
		width: 90%;
	}

	.opini2 .opini-img2 {
		margin-top: 23px;
	}

	/* Akhir Opinion */

	/*Akhir Main*/
}

/*Ukuran max-width 768px*/
@media screen and (max-width: 768px) {

	/*Nav*/
	.container nav ul li {
		display: none;
	}

	/*Akhir Nav*/

	/*Banner*/
	.banner {
		height: 233px;
	}

	/*Akhir Banner*/

	/*Main*/
	main section.intro {
		width: 75%;
	}

	/* Intro */
	section.intro h3 {
		font-size: 22px;
	}

	section.intro p {
		font-size: 19px;
	}

	/* Akhir intro */

	/* Reason */
	main section.reason {
		width: 75%;
	}

	section.reason h3 {
		font-size: 22px;
	}

	section.reason p {
		font-size: 19px;
	}

	/* Akhir reason */

	/* Unggul */
	.superior .cards {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		box-sizing: border-box;
	}

	.cards .card1 {
		width: 70%;
		margin-bottom: 50px;
	}

	.cards .card2 {
		width: 70%;
		margin-bottom: 50px;
	}

	.cards .card3 {
		width: 70%;
		margin-bottom: 30px;
	}

	/* Akhir unggul */

	/* Opinion */
	.opinion {
		box-sizing: border-box;
		width: 100%;
	}

	.opinion .opini {
		box-sizing: border-box;
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	.opini .opini1 {
		box-sizing: border-box;
		width: 85%;
		margin: 50px;
	}

	.opini .opini2 {
		box-sizing: border-box;
		width: 85%;
	}

	.opini2 .opini-img2 {
		margin-top: 23px;
	}

	/* Akhir Opinion */

	/*Akhir Main*/
}


@media screen and (min-width: 769px) {
	.menu-toggle {
		display: none;
	}

	/* Main */
	/* Unggul */
	.superior .cards {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		box-sizing: border-box;
	}

	/* Akhir unggul */
	/* Opinion */

	.opinion .opini {
		box-sizing: border-box;
		width: 75%;
		display: flex;
		flex-direction: row;
	}

	.opini .opini1 {
		box-sizing: border-box;
		width: 40%;
		margin-right: 21px;
	}

	.opini .opini2 {
		box-sizing: border-box;
		width: 40%;
	}

	/* Akhir Opinion */

	/* Akhir Main*/
}