/*Responsive*/

/*Ukuran max-width 375px*/
@media screen and (max-width: 375px) {

	/*Nav*/

	.container header {
		width: 80%;
		text-align: center;
	}

	.container header h3 {
		font-size: 19px;
	}

	.container header p {
		font-size: 14px;
	}

	.container nav ul li {
		display: none;
	}

	/*Akhir Nav*/

	/*Banner*/
	.banner {
		height: 125px;
	}

	/*Akhir Banner*/

	/*Main*/
	main section.intro {
		width: 80%;
	}

	section.intro h3 {
		font-size: 20px;
	}

	section.intro p {
		font-size: 18px;
	}

	main section.reason {
		width: 80%;
	}

	section.reason h3 {
		font-size: 20px;
	}

	section.reason p {
		font-size: 18px;
	}

	.superior header {
		display: flex;
		flex-direction: column;
		margin: 29px 0;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
	}

	.superior .cards {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		box-sizing: border-box;
	}

	.cards p {
		font-size: 18px;
	}

	.cards h4 {
		font-size: 19px;
	}

	.cards .card1 {
		width: 80%;
		box-shadow: 3px 3px 3px rgba(0, 0, 0, .4);
		margin-bottom: 50px;
	}

	.cards .card2 {
		width: 80%;
		box-shadow: 3px 3px 3px rgba(0, 0, 0, .4);
		margin-bottom: 50px;
	}

	.cards .card3 {
		width: 80%;
		box-shadow: 3px 3px 3px rgba(0, 0, 0, .4);
		margin-bottom: 30px;
	}


	/*Akhir Main*/

	/*Footer*/
	footer p {
		font-size: 13px;
	}

	/*Akhir Footer*/
}

/*Akhir*/


@media screen and (max-width: 576px) {

	/*Nav*/
	.container header {
		width: 90%;
		text-align: center;
	}

	.container header h3 {
		font-size: 20px;
	}

	.container header p {
		font-size: 15px;
	}

	.container nav ul li {
		display: none;
	}

	/*Akhir Nav*/

	/*Banner*/
	.banner {
		height: 130px;
	}

	/*Akhir Banner*/

	/*Main*/
	main section.intro {
		width: 85%;
	}

	section.intro h3 {
		font-size: 21px;
	}

	section.intro p {
		font-size: 19px;
	}

	main section.reason {
		width: 85%;
	}

	section.reason h3 {
		font-size: 21px;
	}

	section.reason p {
		font-size: 19px;
	}

	.superior header {
		margin: 33px 0;
	}


	.superior .cards {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		box-sizing: border-box;
	}

	.cards .card1 {
		width: 80%;
		margin-bottom: 50px;
	}

	.cards .card2 {
		width: 80%;
		margin-bottom: 50px;
	}

	.cards .card3 {
		width: 80%;
		margin-bottom: 30px;
	}


	/*Akhir Main*/
}

/*Ukuran max-width 768px*/
@media screen and (max-width: 768px) {

	/*Nav*/
	.container nav ul li {
		display: none;
	}

	/*Akhir Nav*/

	/*Banner*/
	.banner {
		height: 233px;
	}

	/*Akhir Banner*/

	/*Main*/
	main section.intro {
		width: 75%;
	}

	section.intro h3 {
		font-size: 22px;
	}

	section.intro p {
		font-size: 19px;
	}

	main section.reason {
		width: 75%;
	}

	section.reason h3 {
		font-size: 22px;
	}

	section.reason p {
		font-size: 19px;
	}

	.superior .cards {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		box-sizing: border-box;
	}


	.cards .card1 {
		width: 70%;
		margin-bottom: 50px;
	}

	.cards .card2 {
		width: 70%;
		margin-bottom: 50px;
	}

	.cards .card3 {
		width: 70%;
		margin-bottom: 30px;
	}


	/*Akhir Main*/
}


@media screen and (min-width: 769px) {
	.menu-toggle {
		display: none;
	}

	/* Main */
	.superior .cards {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		box-sizing: border-box;
	}

	/* Akhir */
}